<div id="footer">
	<div class="container">
		<div class="row">	
			<div class="col-sm-1 text-center">
				<div id="footer-logo-wrap">
					<a href="/">
						<img src="/assets/images/logo.svg" id="hc-logo" alt="Hash Cookies logo" />
					</a>
				</div>
			</div>
			<div class="col-sm-11 text-center">
				<ul class="footer-nav">
					<li><a href="/portfolio" title="Work">Portfolio</a></li>
					<li><a href="/services" title="Services">Services</a></li>
					<li><a href="/team" title="Team">Behind the Scenes</a></li>
					<li><a href="/journal" title="Blog">Journal</a></li>
					<li><a href="#" data-toggle="modal" data-target="#contact-modal" title="Contact Information">Contact</a></li>
				</ul>
			</div>			
		</div> <!-- end row -->
	</div>
</div>

{% include modals.html %}
