<div id="footer">
	<div class="container">
		<div class="row">	
			<div class="col-sm-1 text-center">
				<div id="footer-logo-wrap">
					<a href="/">
						<img src="/assets/images/logo.svg" id="hc-logo" alt="Hash Cookies logo" />
					</a>
				</div>
			</div>
			<div class="col-sm-11 text-center">
				<ul class="footer-nav">
					<li><a href="/portfolio" title="Work">Portfolio</a></li>
					<li><a href="/services" title="Services">Services</a></li>
					<li><a href="/team" title="Team">Behind the Scenes</a></li>
					<li><a href="/journal" title="Blog">Journal</a></li>
					<li><a href="#" data-toggle="modal" data-target="#contact-modal" title="Contact Information">Contact</a></li>
				</ul>
			</div>			
		</div> <!-- end row -->
	</div>
</div>

<div class="modal fade bs-example-modal-md" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
 		<div class="modal-header">
 			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

 			<div class="col-md-3 col-xs-12 text-center">
 				<img src="/assets/images/logo.svg" id="contact-card-logo" width="100" height="100" alt="" />	

 			</div>
			<div class="col-md-4 col-sm-offset-0 col-xs-offset-3 col-xs-9">
				<h5>Hash Cookies</h5>
				<address>Almeida Vaddo, Parra,<br /> Bardez, Goa 403 410</address>
			</div><br/>
			<div class="col-md-5 col-sm-offset-0 col-xs-offset-3 col-xs-9">
				<ul>
					<li><span class="label">Phone</span>+91 9637 443 666</li>
					<li><span class="label">Email</span> <a href="mailto: Hash%20Cookies%3Cfresh%40hashcooki.es%3E" title="Hash Cookies email address">fresh@hashcooki.es</a></li>
					<li><span class="label">Facebook</span> <a href="http://facebook.com/hashcooks" title="Hash Cookies Facebook page">fb.com/hashcooks</a></li>
				</ul>
			</div>
			
 		</div>
   	  	<!-- Header ends -->
     	
		<div class="modal-body">
			<span id="cm-status"></span>
			<form id="contact-messages" accept-charset="UTF-8" action="https://formkeep.com/f/163c7fab8c51" method="POST">
				<input type="hidden" name="utf8" value="✓">
				<div id="cm-inputs">
					<textarea id="cm-message" name="message" placeholder="Feel free to say anything!" class="form-control" rows="1"></textarea>
					<input type="hidden" id="cm-original" name="original" />
				</div>
				<input type="submit" class="btn btn-primary pull-right" value="Send Message" />
			</form>
			
        </div> <!--end modal body-->

     </div>  <!-- Content ends -->
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="request-quote" tabindex="-1" role="dialog" aria-labelledby="request-quote" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  	<form id="request-quote-form" accept-charset="UTF-8" action="https://formkeep.com/f/163c7fab8c51" method="POST">
		<input type="hidden" name="utf8" value="✓">
	    <div class="modal-content">
	 		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	 			<h4 class="text-center"><span>Request for a </span><span class="hidden-xs"><input type="text" name="project-type" id="project-type" value="custom" /></span> Website</h4><br />	
				<div class="col-md-9"> 
		        	<div class="row">
	    	        	<div class="col-md-6">
		    	        	<div class="form-group">
		    	        		<label for="email">Your Email</label>
							    <input class="form-control input-lg" type="email" name="Email" id="email" placeholder="Your Email" />
		    			 	</div>
	    			 	</div>
	    			 	<div class="col-md-6">
		    			 	<div class="form-group">
		    			 		<label for="phone">Your phone</label>
		    			 		<input class="form-control input-lg" type="text" name="phone" id="phone" placeholder="Your Phone" />
		    			 	</div>
	    			 	</div>
				 	</div>
				</div>

				<div class="col-md-3 req-btn">	    			 	
	 				<input class="btn btn-large btn-primary btn-submit" type="submit" value="Send Request" />
	 			</div>
	 		</div>
	   	  	<!-- Header ends -->
	   	  	<div class="clearfix"></div>
	     	
			<div class="modal-body">
				<div class="col-md-7">
					<h4>Project Brief (Optional)</h4>
	        	</div>
	        	<div class="clearfix"></div>
	        	<div class="col-md-7">	        		
					<textarea name="message" class="form-control" rows="10"></textarea>		
	    		</div> 
	    		<div class="col-md-5" id="optional-instructions">
	    			<h5>Information that we need:</h5>
	    			<ul>
	    				<li>A description of your business.</li>
	    				<li>Is there an existing website?</li>
	    				<li>Links to websites that resemble your project plan.</li>
	    				<li>Project deadline.</li>
	    				<li>Specific features required like blog, shopping cart, mobile layout…</li>
	    				<li>Content ready?</li>
	    				<li>Require domain and hosting?</li>
	    				<li>What is the budget for this project?</li>
	    			</ul>
	    		</div>
	        </div> <!--end modal body-->
	     </div>  <!-- Content ends -->
	    </form>
  </div>
</div>

