<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="title" property="og:title">
	<meta content="type" property="og:type">
	<meta content="image" property="og:image">
	<meta content="url" property="og:url">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <script src="//use.typekit.net/sab6dfg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    
</head>
