<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="fb:admins" content="514833203" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta content="{{ site.url }}" property="og:url">
    <meta content="{{ site.description | truncate: 15 }}" property="og:description">
    <meta content="{{ "/assets/images/hash-cookies-main-page.jpg" | prepend: site.url }}" property="og:image" >
    <meta content="{{ site.title }}" property="og:title">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/evil-icons/1.7.8/evil-icons.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/png" href="{{ "assets/images/favicon.png" | prepend: site.baseurl }}" >
    <link rel="icon" type="image/png" href="{{ "assets/images/favicn.png" | prepend: site.baseurl }}" >

    <script src="//use.typekit.net/sab6dfg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    {% seo %}

</head>
