<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ "/assets/js/vendor/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/jquery.cycle.all.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/vendor/waypoints.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/vendor/jquery.transit.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/vendor/jquery.scrollTo.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/vendor/skrollr.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" type="text/javascript"></script>