---
layout: default
tags: "light-bg blog"
---
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div id="blog-nav">
				<a href="/"><img src="/assets/images/logo.svg" id="blog-logo" alt="" /></a>
				<a href="/journal">	
					<span>Journal</span>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">		
			<div class="post">
			  <header class="blog-post-header">
			    <h1 class="post-title">{{ page.title }}</h1>
			    <p class="post-meta">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
			  </header>
			
			  <article class="post-content">
			    {{ content }}
			  </article>
			  
			  <footer>
			  	<div id="blog-footer">
			  		Hash Cookies Journal is penned by its co-founders Milind Alvares and Axel D'Souza. Feel free to send us comments via <a href="mailto:fresh@hashcooki.es">email</a> or <a href="http://facebook.com/hashcooks">facebook</a>.
			  	</div>
			  </footer>
			
			</div>
		</div>
	</div>
</div>